* {
    margin: 0;
    padding: 0;
    list-style: none;
}
.container {
    height: 100%;
    margin-top: 60px;
    margin-left: 100px;
    display: flex;
    align-items: center;

}
.graphic-container {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    position: relative;
}
.graphic-x {
    position: relative;
    width: 3px;
    height: 500px;
    background-color: black;
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    justify-content: start;
}
.graphic-x::before {
    content: ''; 
    position: absolute;
    left: -9px;
    top: -20px;
    border: 10px solid transparent; 
    border-bottom: 10px solid black;
}
.graphic-y {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: start;
    width: 500px;
    height: 3px;
    background-color: black;
 
}
.graphic-y::before {
    content: ''; 
    position: absolute;
    right: -20px;
    top: -9px;
    border: 10px solid transparent; 
    border-left: 10px solid black;
}
.graphic-x .line {
    width: 10px;
    height: 3px;
    background-color: black;
    margin-bottom: 30px;
}
.graphic-x .line::before {
    content: "";
    position: absolute;
    background-color: rgba(169, 191, 204, 0.342);
    width: 500px;
    height: 3px;
}
.graphic-y .line {
    width: 3px;
    height: 10px;
    background-color: black;
    transform: rotateX(180deg);
    margin-left: 30px;
}
.graphic-y .line::before {
    content: "";
    position: absolute;
    background-color: rgba(169, 191, 204, 0.342);
    width: 3px;
    height: 500px;
}
.graphic-name-x {
    position: absolute;
    left: -30px;
    top: -40px;
    font-size: 25px;
}
.graphic-name-y {
    position: absolute;
    right: -40px;
    bottom: -30px;
    font-size: 25px;
}

.label-number-x {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: -30px;
    align-items: flex-end;
    margin-bottom: 15px
}
.label-number-x div {
    margin-bottom: 15px;
}
.label-number-y {
    position: absolute;
    display: flex;
    flex-direction: row-reverse;
    bottom: -30px;
    align-items: flex-end;
    margin-left: 27px;
}
.label-number-y div:not(:last-child) {
    padding-left: 25px;
}
.label-number-y div:nth-child(6) {
    padding-left: 20px;
}
.label-number-y div:nth-child(-n+5) {
    padding-left: 17px;
}
.number:last-child {
    padding-bottom: 0px;
}
.menu-container {
    margin-left: 50px;
}
#circle {
    position: absolute;
    width: 10px;
    height: 10px;
    left: -9px;
    margin-left: 33px;
    margin-bottom: 33px; 
    bottom: -6px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
    border-radius: 50px;
    border: 2px solid blue;
    transition: all 1s ease-out;
}
#square {
    position: absolute;
    width: 10px;
	height: 10px;
    border: 2px solid green;
    left: -9px;
    margin-left: 66px;
    margin-bottom: 132px; 
    bottom: -6px;
    transition: all 1s ease-out;
}
 #triangle {
    position: absolute;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
    border-bottom: 13px solid rgba(134, 20, 156, 0.767);
    left: -9px;
    margin-left: 231px;
    margin-bottom: 165px; 
    bottom: -6px;
    transition: all 1s ease-out;
}
input {
    width: 50px;
    height: 25px;
    margin: 10px 10px 10px 0px;
}
.button {
    width: 100px;
}
.error {
    color: red;
   
    opacity: 0;
    transition: all 2s ease-out;
}



